header.flex-shrink-0
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="/") WV Help4Teens

        button.navbar-toggler(
            type="button",
            data-toggle="collapse",
            data-target="#navbar",
            aria-controls="navbar",
            aria-expanded="false",
            aria-label="Toggle navigation"
        )
            span.hamburger(data-toggle="tooltip", data-placement="bottom", title="Menu")
                svg(xmlns="http://www.w3.org/2000/svg", width="30", height="30", viewBox="0 0 30 30")
                    path(stroke="rgba(255,255,255,0.5)", stroke-linecap="round", stroke-miterlimit="10", stroke-width="2", d="M4 7h22M4 15h22M4 23h22")

        .collapse.navbar-collapse#navbar
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#navbarDropdown(
                        role="button",
                        data-toggle="dropdown",
                        aria-haspopup="true",
                        aria-expanded="false",
                        href="#"
                    ) Topics

                    div.dropdown-menu(aria-labelledby="navbarDropdown")
                        each topic in topics
                            a.dropdown-item(href=`/topics/${topic.id}`)= topic.name
