header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="/") WV Help4Teens

        button.navbar-toggler(
            type="button",
            data-toggle="collapse",
            data-target="#navbar",
            aria-controls="navbar",
            aria-expanded="false",
            aria-label="Toggle navigation"
        )
            span.navbar-toggler-icon

        .collapse.navbar-collapse#navbar
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Home